body {
  background-color: rgb(231, 162, 105);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.item-clicks {

  display:flex;
  font-size: larger;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;




}

main {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 40px;
  font-weight: bold;
  line-height: 80px;
  margin: 30px auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

h1 {
  font-family: cursive;
  font-weight: bold;
  background-color: aquamarine;
  padding-bottom: 20px;
  
}

ul {padding: 30px;



}

img {

  height: 300px;
  width:  auto;
}

main .all_mall {

  display: flex;
flex-direction: row;
justify-content: space-evenly;
}


footer {
  /* display: flex;
  flex-direction: row; */
  margin: auto;
  width: 800px;
  height: auto;
  background-color: aquamarine;

 
 
}
.chart {

  
}
